/* Style for the button */
.expandButton {
    cursor: pointer;
    background-color: forestgreen;
    color: white;
    padding: 15px 30px; /* Adjust padding to make the button bigger */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    display: block; /* Set display to block to center the button */
    margin: 0 auto; /* Center the button horizontally */
}
